<h1>{{title}} 🚀</h1>
<p>Welcome Ironhacker!</p>

<form action="/auth/signup" method="GET">
  <button type="submit">Sign up</button>
</form>

<form action="/auth/login" method="GET">
  <button type="submit">Log in</button>
</form>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>


