<h3> Hello {{fullName}}</h3>

<img src="/images/gato-grunon.jpg" alt="cat">

<form action="/auth/private" method="GET">
  <button type="submit">Private</button>
</form>

<form action="/auth/logout" method="GET">
  <button type="submit">Log out</button>
</form>

<form action="/rooms/create" method="GET">
  <button type="submit">Create New Room</button>
</form>