<h2>Edit the Room</h2>

<form action="/rooms/edit" method="POST">
  <label> Name:
    <input type="text" name="name" />
  </label>
  <br>

  <label> Description:
    <input type="text" name="description"/> 
  </label>
   <br>
  
  <label> Image:
    <img src="/iron-rooms/public/images/roomaribnb.jpg" name="imgUrl"/>
  </label>
   <br>

  <button type="submit"> Update the room </button>
</form>